<footer class="page-footer espace">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-1 mt-md-0 mt-3">
        <img src="../../assets/img/svg/logo.png" height="65" width="65"/></div>
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase">Comment nous contacter ?</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/contactPage">Page de contact</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Application mobile</h5>
        <ul class="list-unstyled">
          <li>
            <a>bientôt disponible</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase">Liens utiles</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/NamuroisThomas/Projet-d-Integration/wiki">github</a>
          </li>
          <li>
            <a href="https://clockify.me/shared/5fd9279567ce0e0672fb192f">clockify</a>
          </li>
          <li>
            <a href="https://trello.com/b/EK9LyOYb/projet-dintégration">trello</a>
          </li>
          <li>
            <a href="/gdpr">Confidentialité</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://62.210.130.145:4200/home"> NeedHelp</a>
  </div>
</footer>
