.espace{
  padding-top: 50px;
  background-color: #343a40;
  overflow: hidden;
}

a:link {
  color: deepskyblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: deepskyblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
