<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Comment nous contactez ?</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/contactPage">Page de contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-lg-3 mx-auto my-md-6 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Application mobile</h5>
        <ul class="list-unstyled">
          <li>
            <a>bientôt disponible</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Liens utiles</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/NamuroisThomas/Projet-d-Integration/wiki">github</a>
          </li>
          <li>
            <a href="https://clockify.me/shared/5f6b3df440e1787995ae272d">clockify</a>
          </li>
          <li>
            <a href="https://trello.com/b/EK9LyOYb/projet-dintégration">trello</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center">Copyright &copy;
      <script>type="text/javascript">document.write(new Date().getFullYear());</script>
      NeedHelp!
    </div>
  </div>
</footer>
