<h1> Inscription </h1>
<form #userPost="ngForm" (ngSubmit)="submit(userPost.value)">
  <input type="text" name="formInscriptionNom" ngModel placeholder="Labeuh"><br><br>
  <input type="text" name="formInscriptionPrenom" ngModel placeholder="Pierre"><br><br>
  <input type="text" name="formInscriptionMail" ngModel placeholder="Labeuh@hotmail.com"><br><br>
  <input type="text" name="formInscriptionTel" ngModel placeholder="+3215457865"><br><br>
  <input type="text" name="formInscriptionMdp" ngModel placeholder="******"><br><br>
  <button type="submit">Inscription</button>
</form>
