 <div class="container">
   <h2>Contactez-nous !</h2>
   <div class="row-cols-6">
   </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
          <div class="form-group">
            <label>Adresse mail</label>
            <input
              type="email"
              class="form-control"
              name="Email"
              aria-describedby="emailHelp"
              placeholder="Labeuh@hotmail.com"
              formControlName="Email"
            />
          </div>
          <div class="form-group">
            <label>Nom et prénom</label>
            <input
              type="text"
              class="form-control"
              name="Fullname"
              placeholder="Pierre Labeuh"
              formControlName="Fullname"
            />
          </div>

          <div class="form-group">
            <label>Commentaire</label>
            <textarea
              class="form-control"
              formControlName="Comment"
              name="Comment"
            >
            </textarea>
          </div>
          <div class="form-group">
          <re-captcha (resolved)="resolved($event)"
                      formControlName="recaptchaReactive"
                      siteKey="6Lf-Uv8ZAAAAACEPjgTLhsGvOBz0R6UpiesdZgzY">
          </re-captcha>
          </div>
          <div class="hauteur">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!FormData.valid"
          >
            Envoyez
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>

