<div class="wrapper-box">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="col-10">
          <h2>Informations générales</h2>
            <label>Nom</label>
            <div>{{profil.nomUtilisateur}}</div>
            <label>Prénom</label>
            <div>{{profil.prenomUtilisateur}}</div>
        <form #userPut="ngForm" (ngSubmit)="submit(userPut.value)">
          <div class="form-group" hidden>
            <label>id</label>
            <input disabled="true" class="form-control" type="number" size="3" name="formProfilIdUtilisateur" ngModel
                   [(ngModel)]="profil.idUtilisateur"
                   required>
          </div>
          <div class="form-group">
            <label>Adresse mail</label>
            <input class="form-control" type="text" size="50" name="formProfilMailUtilisateur" ngModel
                   [(ngModel)]="profil.mailUtilisateur"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
          </div>
          <div class="form-group">
            <label>Numéro de téléphone</label>
            <input class="form-control" type="text" size="20" name="formProfilTelUtilisateur" ngModel
                   [(ngModel)]="profil.telUtilisateur" pattern="[./+0-9]+" required>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" type="text" rows="4" name="formProfilDescriptionUtilisateur" ngModel
                      [(ngModel)]="profil.descriptionUtilisateur" required></textarea>
          </div>
            <button class="btn btn-primary">Modifiez description</button>
        </form>
            </div>
          </div>
        </div>
      </div>
</div>
