<div class="container body-content">
  <h3>Informations générales</h3>
  <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <label>Nom</label>
        <div>{{profil.nomUtilisateur}}</div>
        <label>Prénom</label>
        <div>{{profil.prenomUtilisateur}}</div>
        <label>Adresse mail</label>
        <div>{{profil.mailUtilisateur}}</div>
        <label>Numéro de téléphone</label>
        <div>{{profil.telUtilisateur}}</div>
        <label>Description</label>
        <div class="form-control">{{profil.descriptionUtilisateur}}</div>
        <button class="btn btn-primary">Modifiez description</button>
      </div>
    </div>
</div>
