<div class="container">
<h2>Page détail de la demande {{detail.titreDemande}}</h2>
<div class="row">
  <h4>
  Description de la demande : {{detail.descriptionDemande}}
  </h4>
</div>
  <table class="table table-striped table-dark">
    <tbody>
    <tr>
      <th>Nom/prénom demandeur</th>
      <td>{{detail.nom}}</td>
    </tr>
    <tr>
      <th> Nom de la catégorie</th>
      <td>{{detail.nomCategorie}}</td>
    </tr>
    <tr>
      <th>Date de la publication</th>
      <td>{{detail.dateDemande | date:"yyyy/MM/dd" }}</td>
    </tr>
    <tr>
      <th> Code postal</th>
      <td>{{detail.idCodePostal}}</td>
    </tr>
    <tr>
      <th>Demande acceptée par </th>
      <td>{{detail.accepte}}</td>
    </tr>
    <tr *ngIf="defraiment">
      <th>Défraiment</th>
      <td>oui</td>
    </tr>
    <tr *ngIf="!defraiment">
      <th>Défraiment</th>
      <td>non</td>
    </tr>
    </tbody>
  </table>
<button class="btn btn-primary" (click)="backClicked()">Retour à la liste</button>
</div>
