<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <a href="/home" ><img src="../../assets/img/svg/logo.png"></a>
  <ul>
    <li><a href="/home">Accueil</a></li>
    <li><a href="/listeAide">Liste des aides</a></li>
    <li><a href="/maListe">Mes demandes accepté</a></li>
    <li><a href="/mesDemandes">Mes offres</a></li>
    <li><a href="/demandeAide">Ajouter une aides</a></li>
    <li><a href="/chat">Chat</a></li>
    <li><a href="/contactPage">Page de contact</a></li>
    <li><a href="/editProfil">Profil</a></li>
    <li><a href="/inscription">Inscription</a></li>
    <li><a href="/connexion">Connexion</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
