<nav class=" navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="navbar-nav ">
      <img src="../../assets/img/svg/logo.png" class="rounded" height="35" width="40" routerLink="/home">
      <a class="nav-item nav-link" routerLink="/home">Accueil</a>
      <a class="nav-item nav-link" routerLink="/listeAide">Liste des aides</a>
      <a class="nav-item nav-link" routerLink="/maListe">Demande accepté</a>
      <a class="nav-item nav-link" routerLink="/mesDemandes">Mes offres</a>
      <a class="nav-item nav-link" routerLink="/demandeAide">Demander une aide</a>
      <a class="nav-item nav-link" routerLink="/contactPage">Page de contact</a>
      <a class="nav-item nav-link" routerLink="/chat">Chat</a>
      <a class="nav-item nav-link" routerLink="/editProfil">Profil </a>
      <a class="nav-item nav-link" routerLink="/inscription">Inscription </a>
      <a class="nav-item nav-link" routerLink="/connexion">Connexion </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
