<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/home">Accueil </a></li>
      <li routerLinkActive="active"><a routerLink="/demandeAide">Demander une aide </a></li>
      <li routerLinkActive="active"><a routerLink="/contactPage">Page de contact </a> </li>
      <li routerLinkActive="active"><a routerLink="/editProfil">Profil </a> </li>
      <li routerLinkActive="active"><a routerLink="/inscription">Inscription </a></li>
      <li routerLinkActive="active"><a routerLink="/connexion">Connexion </a> </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
