* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  flex-wrap: no-wrap;
}

.container div {
  width: 50%;
  height: 200px;
}

.picture {
  background: #4451c2;
}

.text {
  background: #f451c2;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .container div {
    width: 100%;
  }
}



h1{
  height: auto;
}

h3{
  padding: 0.55em;
}

h4{
  padding-bottom: 0.5em;
  padding-left: 2em;
}

p{
  padding-bottom: 0.5em;
  padding-left: 4em;
}

dl {
  overflow: hidden;
  padding: 1em;
}
dt {
  float: left;
  width: 20%;
}
dd {
  float: left;
  width: 80%;
}

button{
  background-color: transparent;
  color: black;
  border-color: black;
  padding: 0.2%;
}
