<section class="text-centerp">
  <h1 class="h1">{{welcome}}</h1>
  <p>Ce site a comme objectif de mettre en lien les personnes ayant besoin d'aide avec des personnes pouvant répondre à
    ces demandes</p>
  <h3>Comment le projet est né ?</h3>
  <p>Tout est partit d'un constat que nous avons remarqué à plusieurs reprise dans notre entourage.</p>
  <p>Quand nous sommes en situation de handicap, qu'il soit temporaire ou de longue durée,
    certaines tâches du quotidien peuvent devenir laborieuses. <br>
    C'est pourquoi nous avons décidé de proposer une plateforme où les personnes <br>
    ayant besoin d'aide peuvent poster une annonce et être mis en relation avec quelqu'un qui peut proposer son aide.
    Après rélfexion, <br>
    nous nous sommes rendus compte qu'il n'y avait pas que les personnes porteur de handicap qui avait besoin d'aide,
    <br>
    c'est pourquoi cette plateforme est accessible à tous.</p>
</section>


<div class="container-">
  <h3>Comment cela fonctionne ?</h3>
  <div id="accordion">
    <div id="headingOne">
      <p>En tant que visiteur du site
        <button class="btn btn-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
          ▼
        </button>
      </p>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
      <div class="card-header">
        Si vous ne possédez pas de compte, vos options se limiteront uniquement à voir la liste des différentes demandes
        sans avoir la possibilité de les accepter, à leurs détails et à la page de contact.
        Il est donc impératif de vite créer un compte pour vous connecté et d'avoir accès à toutes les
        fonctionnionalités que propose le site.
      </div>
    </div>
    <div id="headingTwo">
      <p>En tant que demandeur d'aide
        <button class="btn btn-info" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
          ▼
        </button>
      </p>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
      <div class="card-header">
        Dans un premier temps, il vous faudra un compte afin de pouvoir créer une demande d'aide via le formulaire de
        demande. Pour s'inscrire il suffit juste
        d'aller vers la barre de navigation en haut de la page et de cliquer sur "inscription", il suffira juste de
        remplir le formulaire d'inscription. <br>
        Attention, on demande un email et un numéro de téléphone unique, c'est à dire que seul un compte mail et un
        numéro sera lié à un compte.
      </div>
    </div>
    <div id="headingThree">
      <p>En tant qu'offreur d'aide
        <button class="btn btn-info" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
          ▼
        </button>
      </p>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
      <div class="card-header">
        Dans un premier temps, il vous faudra un compte afin de pouvoir accepter une demande d'aide présente dans la
        liste de demandes. Pour se connecter, il suffit juste
        d'aller vers la barre de navigation en haut de la page et de cliquer sur "connexion", remplit le mail où on
        s'est inscrit et le mot de passe. <br>
        Attention, veuillez à ne pas oublier de vous déconnecté une fois que vous utilisez plus le site pour éviter un
        vol de compte.
      </div>
    </div>
  </div>


  <h3>Et maintenant ?</h3>
  <p>Si c'est votre première fois sur le site, rendez-vous sur l'onglet inscription
    <button class="btn btn-info" routerLink="/inscription">Inscription</button>
  </p>
  <p>Si vous êtes famillier, accédez à votre espace personnel en vous connectant
    <button class="btn btn-info" routerLink="/connexion">Connexion</button>
  </p>


  <h3>L'équipe</h3>
  <dl>
    <dt>Maxime DE COCK</dt>
    <dd>Developpeur back-end + VoIP</dd>

    <dt>Gaëtan GORTZ</dt>
    <dd>Développeur back-end + data</dd>

    <dt>Brian LUK</dt>
    <dd>Développeur web + VoIP</dd>

    <dt>Simon MAGNES</dt>
    <dd>Chef de projet + Développeur application</dd>

    <dt>Thomas NAMUROIS</dt>
    <dd>Développeur application</dd>

    <dt>François TEMMERMAN</dt>
    <dd>Développeur web</dd>
  </dl>

</div>
