<!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="../../assets/img/svg/logo.png" alt="Second slide">
    </div>
  </div>
</div>-->
<h1>Bienvenue sur NeedHelp!</h1>
<p>Ce site a comme objectif de mettre en lien les personnes ayant besoin d'aide avec des personnes pouvant répondre à ces demandes</p>

<h3>Comment le projet est né ?</h3>

<p>Tout est partit d'un constat que nous avons remarqué à plusieurs reprise dans notre entourage.</p>
<p>Quand nous sommes en situation de handicap, qu'il soit temporaire ou de longue durée, certaines tâches du quotidien peuvent devenir laborieuses.
  C'est pourquoi nous avons décidé de proposer une plateforme où les personnes ayant besoin d'aide peuvent poster une annonce et être mis en relation avec quelqu'un qui peut proposer son aide.
  Après rélfexion, nous nous sommes rendus compte qu'il n'y avait pas que les personnes porteur de handicap qui avait besoin d'aide, c'est pourquoi cette plateforme est accessible à tous.</p>


<h3>Comment cela fonctionne ?</h3>


<div id="accordion">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          En tant que visiteur du site
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" >
      <div class="card-body">
        Si vous ne possédez pas de compte, vos options se limiteront uniquement à voir la liste des différentes demandes sans avoir la possibilité de les accepter, à leurs détails et à la page de contact.
        Il est donc impératif de vite créer un compte pour vous connecté et d'avoir accès à toutes les fonctionnionalités que propose le site.
      </div>
    </div>
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          En tant que demandeur d'aide
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
      <div class="card-body">
        Dans un premier temps, il vous faudra un compte afin de pouvoir créer une demande d'aide via le formulaire de demande.
      </div>
    </div>
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      En tant qu'offreur d'aide
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
      <div class="card-body">
        Dans un premier temps, il vous faudra un compte afin de pouvoir accepter une demande d'aide présente dans la liste de demandes.
      </div>
    </div>
</div>


<h3>Et maintenant ?</h3>

<p>Si c'est votre première fois sur le site, rendez-vous sur l'onglet inscription <button class="btn btn-primary" routerLink="/inscription">Inscription</button></p>
<p>Si vous êtes famillier, accédez à votre espace personnel en vous connectant <button class="btn btn-primary" routerLink="/connexion">Connexion</button></p>


<h3>L'équipe</h3>
<dl>
  <dt>Maxime DE COCK</dt>
  <dd>Developpeur back-end + VoIP</dd>
  
  <dt>Gaëtan GORTZ</dt>
  <dd>Développeur back-end + data</dd>
  
  <dt>Brian LUK</dt>
  <dd>Développeur web + VoIP</dd>
  
  <dt>Simon MAGNES</dt>
  <dd>Chef de projet + Développeur application</dd>
  
  <dt>Thomas NAMUROIS</dt>
  <dd>Développeur application</dd>
  
  <dt>François TEMMERMAN</dt>
  <dd>Développeur web</dd>
</dl>


<h3>Plateforme</h3>
<p>Vous pouvez retrouver notre application sur le web (là où vous vous trouvez actuellement) mais également sur l'application Android bientôt disponible au téléchargement</p>
