<h1>Déclaration de confidentialité du site NeedHelp</h1>
<p class="text-white">Merci de votre visite sur notre site Web. </p> <br>
<p class="text-white">NeedHelp attache une importance particulière à la protection et à la confidentialité de vos données.</p>
<p class="text-white">
Dans ce qui suit, nous vous informons du traitement des données personnelles en relation avec les services que nous offrons
sous le site NeedHelp ou notre application mobile
qui intègrent cette déclaration de confidentialité. On entend par données personnelles toutes les informations relatives
à une personne physique identifiée ou identifiable. Cela inclut des informations telles que votre nom, votre prénom,
votre adresse e-mail, votre adresse postale et/ou votre numéro de téléphone. Les informations qui ne sont pas directement associées
à votre identité, comme le nombre d’utilisateurs d’un site Internet, n’entrent pas dans cette catégorie.
</p><br>

<div  class="text-white">
  <ul>
    <li>Nous ne demandons pas aux utilisateurs si ils veulent utiliser les cookies pour notre site car nous ne les utilisons pas.</li>
    <li>Nous utiliserons pas les données des utilisateurs contre eux, leurs données ne sont utilisé que pour le bon fonctionnement du site.</li>
    <li>Les mots de passes des utilisateurs ne nous sont pas connus, elles sont hashés et salés dans la base de données.</li>
    <li>Nous avons également 3 ans encore pour implémenter un système qui retire les utilisateurs inactifs depuis 36 mois.</li>
    <li>L'utilisateur peut demander via la page de contact de supprimer son compte, son compte sera alors supprimé dans les jours à venir.</li>
  </ul>
</div>

<p  class="text-white">
  Nous utilisons des outils telles que Google Re-Captcha ainsi que Google Analytics pour récolter ou protéger les données,
  vous pouvez trouvez leur propre politique de confidentialité de Google sur le lien suivant : https://www.google.com/intl/de/policies/privacy/
</p>
