
<div *ngFor="let liste of listeDemande" class="card" style="width: 50rem;">
  <div class="list-group list-group-flush">
    <div class="list-group-item">Nom utilisateur : {{liste.nom}}</div>
    <div class="list-group-item">Titre de la demande : {{liste.titreDemande}}</div>
    <div class="list-group-item">Catégorie : {{liste.nomCategorie}}</div>
    <div class="list-group-item">Code postal : {{liste.idCodePostal}}</div>
    <button class="btn btn-primary" type="submit">Détail</button>
  </div>
</div>
