
<div xmlns:width="http://www.w3.org/1999/xhtml"></div>
<p-fieldset>
  <h1>Créer une nouvelle demande d'aide</h1>
  <div class="row">
    <div class="col-6">
      <img src="./assets/img/svg/undraw_google_docs_jf93.svg" alt="Image demande d'aide" width="100vw" height="100vh">
    </div>
    <div class="col-6">

        <form [formGroup]="formDemandeAide">
          <div class="row">

            <div class="form-group col-lg-12 col-md-12">
              <label for="titre">Intitulé</label>
              <input type="text"
                     id="titre"
                     class="form-control"
                     formControlName="Title" placeholder="Ex: Courses">

            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-12 col-md-12">
              <label for="description">Description</label>
              <input type="text"
                     id="description"
                     class="form-control"
                     formControlName="Description" placeholder="ex: besoin d'une aide pour faire des courses mardi" [required]="true">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-12 col-md-12">
              <button class="btn btn-primary"
                      type="submit"
                      [disabled]="formDemandeAide.invalid" (click)="submit()">Enregistrer</button>
            </div>
          </div>

        </form>
    </div>
  </div>
</p-fieldset>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">


<p-toast position="top-right"></p-toast>

